<style>
    #footer1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding-bottom: 30px;
}

</style>
<div style="background-color:pink;" class="footer" id="footer1">
    <p><b>Developed with &#10084 by Kaushik and Souvik!</b></p>
</div>