<%- include('partials/header') %>

<br>
<h2 style="margin-left: 20px;">Kaushik Mahajan - <a href="https://www.linkedin.com/in/kaushik-mahajan-39427a1b2/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
    LinkedIn
 </a>
<br><br><br>
</h2>

<h2 style="margin-left: 20px;">Souvik Mukherjee - <a href="https://www.linkedin.com/in/souvik-mukherjee-b285a9195/" target="_blank" class="social-icon si-rounded si-small si-linkedin">
    LinkedIn
 </a>
</h2>

<%- include('partials/footer') %>