
<div class="text-center" style="padding-top: 10px;">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1><%= msg %></h1>
    
    <hr>
  </div>


<%- include('partials/footer') %>

